# Documentation: http://support.torch.sh/help/kb/graylog2-server/using-graylog2-radio

inputs_file = /etc/graylog2-radio-inputs.conf

amqp_exchange_name = messages

amqp_user = guest
amqp_pass = guest
amqp_host = 127.0.0.1
amqp_port = 5672

rest_listen_uri = http://127.0.0.1/
rest_listen_port = 12888

processor_wait_strategy = blocking
buffer_processors = 5
ring_size = 1024

# enable_graphite = false
# graphite_carbon_host = 127.0.0.1
# graphite_carbon_tcp_port = 2003
# graphite_prefix = org.graylog2.graylog2-radio

# enable_libratometrics = false
# libratometrics_api_user = you@example.com
# libratometrics_api_token = abcdefg12345
# libratometrics_interval = 60
# libratometrics_source = gl2radio